@charset "ISO-8859-1";

.navbar_navbar-expand-lg_navbar-light_bg-light {
	background-image: 
		linear-gradient(
			45deg, 
			rgb(36, 97, 3), 
			rgb(255, 255, 255) 85%
			);
}

body{
	/* background-color: gray;
	background-image: linear-gradient(to right, rgb(36, 97, 3), rgb(48, 48, 48)); */
	background-image: 
	linear-gradient(
		45deg, 
		rgb(36, 97, 3), 
		rgb(255, 255, 255) 85%
		);
}